<br>
<div class="container">
  <% @favorites.each do |favorite| %>
  <div class="row favorite">
    <div class="col-xs-12 col-md-4">
      <%= link_to musician_path(favorite.musician.id), :action => 'go' do %>
        <div class="card-product favorite">
          <% if favorite.musician.photos.attached? %>
            <%= cl_image_tag favorite.musician.photos[0].key, height: 230 %>
          <% else %>
            <%= cl_image_tag("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-8 favorite">
      <div class="card-product-infos">
        <% @musician = User.find(favorite.musician_id) %>
        <p><strong>Name: </strong><%= @musician.username %></p>
        <% if @musician.birthday.present? %>
        <% age = Date.today.year - @musician.birthday.year %>
        <p><strong>Age: </strong> <%= age %></p>
        <% else %>
        <p><strong>Age: </strong> 99 </p>
        <% end %>
        <p><strong>Description: </strong><%= @musician.description %></p>
        <p><strong>City: </strong><%= @musician.city %></p>
        <%= link_to "Back to overview", musicians_path, class: "btn btn-primary" %>
        <%= link_to " 🗑 Delete from favorites", favorite_path(favorite), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary-outline" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
