<div class="main bg-image" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.43), rgba(255, 255, 255, 0.96), rgb(255, 255, 255)), url('<%= cl_image_path("banner-otm_tuakfl", :height=>800, :width=>1440) %>');">
  <%= link_to "", musicians_path, class: "fas fa-arrow-circle-left" %>

  <div class="text-center">
    <h1> <span class="banner-Headline higlighted">My Favorites </span> </h1>
  </div>

<br>
  <div class="container">
    <% @favorites.each do |favorite| %>
    <div class="row favorite">
      <div class="col-xs-12 col-md-4">
        <%= link_to musician_path(favorite.musician.id), :action => 'go' do %>
          <div class="card-product favorite favorite-shaddow">
            <% if favorite.musician.photos.attached? %>
              <%= cl_image_tag favorite.musician.photos[0].key, height: 230 %>
            <% else %>
              <%= cl_image_tag("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-8 favorite favorite-shaddow">
        <div class="card-product-infos">
          <% @musician = User.find(favorite.musician_id) %>
          <h3><%= @musician.username %></h3>
          <p><strong><i class="fas fa-map-marker-alt mr-3"></i></strong><%= @musician.city %></p>
          <p><strong><i class="fas fa-euro-sign mr-3"></i></strong><%= @musician.fee %> per day</p>
          <p><strong>Description: </strong><%= @musician.description %></p>
          <%= link_to " 🗑 Delete from favorites", favorite_path(favorite), method: :delete, class: "btn btn-primary-outline mt-3 delete-fav" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

</div>
