<div class="container">

<h3>Edit your profile, <%= @musician.username %></h3>

<%= simple_form_for @musician, :url => musician_path, :method => :patch do |f| %>
  <%= f.input :username %>
  <%= f.input :description %>
  <%= f.input :fee %>
  <%= f.input :startdate, label: 'available timeperiod:', as: :string, required: false, input_html: {class: "booking-input"}  %>
  <%= f.input :city %>
  <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                                      end_year: Date.today.year %>
  <%= f.input :musician %>
  <%= f.association :genre, input_html: { class: "beautiful-dropdown" }, include_hidden: false, class: "form-group"  %>
  <%= f.association :instrument, input_html: { class: "beautiful-dropdown" }, include_hidden: false, class: "form-group"  %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
  <br>
</div>
