<div class="main bg-image" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.82), rgb(255, 255, 255)), url('<%= cl_image_path("instruments_iiguax", :height=>800, :width=>1440) %>');">






  <div class="text-center">
    <% if params[:search].present? == false || params[:search][:genre] == "" && params[:search][:instrument] == "" %>
    <h1>Hi, check out <span class="higlighted"> <%= @musicians.count %> </span> musicians for you!</h1>
    <% else %>
    <h1>We found some cool artists for you!</h1>
    <% end %>
  </div>

  <br>

  <!-- Filter Musicians -->
  <div class="container">
    <div class="filter">
    <%= simple_form_for :search, url: musicians_path, method: 'get' do |f| %>
    <div class="row row d-flex align-items-end">
      <div class="col-3 form-group mb-0">
        <% if params[:search].present? == false || params[:search][:genre] == "" %>
        <%= f.input :genre, collection: Genre.all, label: false,input_html: { class: "beautiful-dropdown" }, prompt: "all genres", required: false, include_hidden: false, class: "form-control"  %>
        <% else %>
        <%= f.input :genre, collection: Genre.all,label: false, input_html: { class: "beautiful-dropdown" }, selected: "#{params[:search][:genre]}", prompt: Genre.find(params[:search][:genre]).name, required: false, include_hidden: false,  class: "form-control"  %>
        <% end %>
      </div>
      <div class="col-3 form-group mb-0">
        <% if params[:search].present? == false || params[:search][:instrument] == "" %>
        <%= f.input :instrument, collection: Instrument.all, label: false, input_html: { class: "beautiful-dropdown"}, prompt: "all instruments", required: false, include_hidden: false, class: "form-control"  %>
        <% else %>
        <%= f.input :instrument, collection: Instrument.all, input_html: { class: "beautiful-dropdown"}, selected: "#{params[:search][:instrument]}", prompt: Instrument.find(params[:search][:instrument]).name, label: false,required: false, include_hidden: false, class: "form-control"  %>
        <% end %>
      </div>
      <div class="col-3 form-group mb-0">
        <%= f.input :startdate, label: false, placeholder: "Select Timeperiod", as: :string, required: false, input_html: {class: "booking-input"}  %>
      </div>
      <div class="col-2 form-group">
        <%= f.button :submit, "Go!", class: "btn btn-primary w-100" %>
      </div>
    </div>
    <% end %>
    </div>
  </div>
  <br>
  <!-- Ende Filter Musicians -->


  <!-- Musician Card -->
  <div class="container">
    <div class="cards">
      <% @musicians.each do |musician| %>
      <div class="musician-card">
         <%= link_to musician_path(musician), :action => 'go' do %>

        <%#= link_to "edit", edit_musician_path(musician) %>
        <% if musician.photos.attached? %>
        <%= link_to musician_path(musician), :action => 'go' do %>
        <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path musician.photos[0].key, height: 230, crop: :fill %>')">
        <div class="musician-hover"></div>
        </div>
        <% end %>
        <% else %>
        <%= link_to musician_path(musician), :action => 'go' do %>
        <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"west", :crop=>"fill") %>')">
        <div class="musician-hover"></div>
        </div>
        <% end %>
        <% end %>

        <% if musician.birthday.present? %>
        <% age = Date.today.year - musician.birthday.year %>
        <% else %>
        <% age = 99 %>
        <% end %>

        <div class="card-row">
          <p><%= musician.username %> (<%= age %>)</p>
        </div>
        <hr class="no-margin">
        <div class="card-row">
          <p class="card-field">From:</p>
          <p><%= musician.city %></p>
        </div>
        <hr class="no-margin">
        <div class="card-row">
          <p class="card-field">Instruments:</p>
          <p><%= musician.instrument.name.capitalize %></p>
        </div>
        <hr class="no-margin">
        <div class="card-row">
          <p class="card-field">Genre:</p>
          <p><%= musician.genre.name %></p>
        </div>
        <%#= link_to "edit", edit_musician_path(musician) %>

    <!-- Favorite Star -->
    <div class="starindex">
      <% if !current_user %>
      <%= form_for(@favorite) do |f| %>
      <%= f.text_field :user %>
      <%= f.text_field :musician %>
      <%= button_tag( :class => "btn star") do %>
      <i class="far fa-star starindex" id="starindex"></i>
      <% end %>
      <% end %>
      <% else %>
      <%= form_for(@favorite) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :musician_id, value: musician.id %>
      <% if  (current_user.favorites.any? {|favorite| favorite.musician == musician })%>
        <%= button_tag( class: "btn star") do %>
          <i class="far fa-star purple" id="starindex"></i>
        <% end %>
      <% else %>
        <%= button_tag( :class => "btn star") do %>
          <i class="far fa-star" id="starindex"></i>
        <% end %>
      <% end %>
      <% end %>
      <% end %>
      </div>
      <!-- Favorite Star End -->
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <!-- Ende Musician Card -->

</div>
