<%= @musician.username %>

<% if !current_user %>
  <%= form_for(@favorite) do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user %>
  <%= f.text_field :musician %>
  <%= f.submit "Bookmark", class: "btn btn-danger pic large", id:"button" %>
  <% end %>
<% else %>
  <%= form_for(@favorite) do |f| %>
    <%= f.label :user %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :musician_id, value: @musician.id %>
  <%= f.submit "Bookmark", class: "btn btn-danger pic large", id:"button" %>
  <% end %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 portfolio-item">
      <div class="card-otm h-100">
        <% if @musician.photo.attached? %>
          <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @musician.photo.key, height: 400, crop: :fill %>')"></div>
        <% else %>
          <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>400, :gravity=>"west", :crop=>"fill") %>')"></div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 ">
      <div class="card-otm h-100">
        <ul style="list-style-type: none;">
          <li>name: <strong><%= @musician.username %></strong></li>
          <li>e-mail: <strong><%= @musician.email %></strong></li>
          <li>city: <strong><%= @musician.city %></strong></li>
          <li>date of birth: <strong><%= @musician.birthday %></strong></li>
          <li>description: <strong><%= @musician.description %></strong></li>
          <li><%= link_to ' Edit', edit_musician_path(@musician), class: "btn btn-outline-warning" %></li>
          <li><%= link_to ' back', musicians_path, class: "btn btn-warning" %></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card-otm">
        <h1>dsfggd</h1>
      </div>
    </div>
  </div>
</div>






