<div class="main bg-image" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.43), rgba(255, 255, 255, 0.96), rgb(255, 255, 255)), url('<%= cl_image_path("banner-otm_tuakfl", :height=>800, :width=>1440) %>');">
    <div class="text-center">
      <h1>Let's introduce the great musician <span class="higlighted"> <%= @musician.username %> </span> </h1>
    </div>


  <br>
  <div class="container">
    <div class="row h-100">
      <div class="col-xs-6 col-md-4">
        <div class="card-otm left h-100">
          <% if @musician.photos.attached? %>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path @musician.photos[0].key, height: 400, crop: :fill %>')"></div>
                </div>
                <% @musician.photos[1..-1].each do |pic| %>
                  <div class="carousel-item">
                    <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path pic.key, height: 400, crop: :fill %>')"></div>
                  </div>
                <% end %>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          <% else %>
          <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>400, :gravity=>"west", :crop=>"fill") %>')"></div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 musician">
        <div class="card-otm right h-100 d-flex flex-column justify-content-between">
          <div class="row">
            <div class="col-8">
              <ul style="list-style-type: none;">
                <li class="musician-name"><strong><%= @musician.username %></strong>
                  <% if @musician.birthday.present? %>
                  <% age = Date.today.year - @musician.birthday.year %>
                  (<%= age %>)
                  <% else %>
                  (99)
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="col-4">
              <div class="findDelta">
                <% @reviews = @musician.reviews_received %>
                <% @sum = 0.0 %>
                <% @reviews.each do |review| %>
                  <% @sum += review.rating %>
                <% end %>
                <% @delta = @sum / @reviews.length %>
              </div>
              <div class="rating-stars-class py-2">
                <%if  @delta.nan? || @delta.round(0).zero?  %>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>

                <%elsif  @delta.round(0) == 1 %>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>

                <%elsif  @delta.round(0) == 2 %>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>

                <%elsif  @delta.round(0) == 3 %>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>

                <%elsif  @delta.round(0) == 4 %>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="far fa-star" id="rating-star"></i>

                <%else%>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                  <i class="fa fa-star" id="rating-star"></i>
                <% end %>
              </div>
              <div class="">
                <% if @reviews.count == 0 %>
                  <p>has <strong>0</strong> reviews</p>
                <% elsif  @reviews.count == 1 %>
                  <p>has <strong>1</strong> review</p>
                <% elsif %>
                  <p>has <strong><%= @reviews.count %></strong> reviews</p>
                <% else %>
                  <p>nothing to commit</p>
                <% end %>
              </div>
            </div>
          </div>



          <ul style="list-style-type: none;">

            <li><strong>Genre</strong> <%= @musician.genre.name %></li>
            <li><strong>Instrument</strong> <%= @musician.instrument.name %></li>
            <li><strong>City</strong> <%= @musician.city %></li>
            <li><strong>Fee per day</strong> <%= @musician.fee %></li>
            <li><strong>Description </strong></li>
            <li><%= @musician.description %></li>
            <!-- Favorite Star -->
            <div class="show-musician-star">
            <% if !current_user %>
              <%= form_for(@favorite) do |f| %>
                <%= f.text_field :user %>
                <%= f.text_field :musician %>
                <%= button_tag( :class => "btn star") do %>
                  <i class="far fa-star" id="star"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for(@favorite) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :musician_id, value: @musician.id %>
                <% if (current_user.favorites.any? {|favorite| favorite.musician == @musician })%>
                  <%= button_tag( :class => "btn star") do %>
                    <i class="far fa-star purple" id="star"></i>
                  <% end %>
                <% else %>
                  <%= button_tag( :class => "btn star") do %>
                    <i class="far fa-star" id="star"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            </div>
            <!-- Favorite Star -->
          </ul>
          <ul style="list-style-type: none;">
            <li class="button-musician-show">
              <%#= link_to 'Message', chat_rooms_path, method: :post, class: "btn btn-primary" %>
              <%= link_to 'Book', new_musician_booking_path(@musician), class: "btn btn-primary" %>
              <a class="btn btn-primary-outline back" href="#" onclick="history.go(-1)"> < BACK</a>
            <a class="btn btn-primary-outline portfolio-link"  data-toggle="modal" href="#portfolioModal1">Show Reviews</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

     <!-- Media Part -->
    <h1 class="media-h1">MEDIA</h1>
    <div class="row mt-4">

      <div class="col-xs-12 col-md-6">

        <div class="card-otm left h-100 d-flex justify-content-between p-0">
          <% if @musician.soundcloudlink.present? %>
            <% soundcloud_match_data = @musician.soundcloudlink.match(/playlists.\d+/) %>
            <iframe width="100%" height="350px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/<%= soundcloud_match_data %>&color=%233c51cd&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          <% else %>
            <%= image_tag "nosoundcloud.jpg", alt: "no playlist added", height: 350 %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 musician p-0">
        <div class="card-otm right text-right h-100" style="padding: 0;">
          <% if @musician.videolink.present? %>
            <% youtube_match_data = @musician.videolink.match(/embed.\w+/) %>
            <iframe width="100%" height="350px" src="https://www.youtube.com/<%= youtube_match_data %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% else %>
            <%= image_tag "noyoutube.png", alt: "no videos added", height: 350, class:"text-right" %>
          <% end %>
        </div>
      </div>
    </div>
     <!-- End of Media Part -->


<div class="container">
  <div class="row">
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                    <p><strong> reviews:</strong></p>
                    <% @reviews = @musician.reviews_received %>
                    <% @sum = 0.0 %>
                    <% @reviews.each do |review| %>
                      <div class="card-review mb-2">
                        <div class="row">
                          <div class="col-10">
                            <p><%= review.content %></p>
                          </div>
                          <div class="col-2 px-2">
                            <p>rating: <%= review.rating %></p>
                            <% @sum += review.rating %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <% @delta = @sum / @reviews.length %>

                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Back to overview</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

