  <div class="start-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
    <div class="text-center">
      <h1>Let's introduce the great musician <span class="higlighted"> <%= @musician.username %> </span> </h1>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4 portfolio-item">
        <div class="card-otm left h-100">

          <% if @musician.photos.attached? %>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @musician.photos[0].key, height: 400, crop: :fill %>')"></div>
                </div>
                <% @musician.photos[1..-1].each do |pic| %>
                  <div class="carousel-item">
                    <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pic.key, height: 400, crop: :fill %>')"></div>
                  </div>
                <% end %>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          <% else %>
          <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>400, :gravity=>"west", :crop=>"fill") %>')"></div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 musician">
        <div class="card-otm right h-100">
          <ul style="list-style-type: none;">
            <li class="musician-name"><strong><%= @musician.username %></strong>
              <% if @musician.birthday.present? %>
              <% age = Date.today.year - @musician.birthday.year %>
              (<%= age %>)
              <% else %>
            (99) </li>
            <% end %>
            <li><strong>Genre:</strong> <%= @musician.genre.name %></li>
            <li><strong>Instrument:</strong> <%= @musician.instrument.name %></li>
            <li><strong>City:</strong> <%= @musician.city %></li>
            <li><strong>Description: </strong></li>
            <li><%= @musician.description %></li>
            <% if !current_user %>
              <%= form_for(@favorite) do |f| %>
              <%= f.text_field :user %>
              <%= f.text_field :musician %>
                <%= button_tag( :class => "btn star") do %>
                <i class="far fa-star show" id="star"></i>
                <% end %>
              <% end %>
            <% else %>
            <%= form_for(@favorite) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :musician_id, value: @musician.id %>
            <% if (current_user.favorites.any? {|favorite| favorite.musician == @musician })%>
              <%= button_tag( :class => "btn star") do %>
              <i class="far fa-star show purple" id="star"></i>
               <% end %>
            <% else %>
              <%= button_tag( :class => "btn star") do %>
              <i class="far fa-star show" id="star"></i>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <li>
              <%= link_to 'Book', new_musician_booking_path(@musician), class: "btn btn-primary" %>
              <a class="btn btn-primary-outline" href="#" onclick="history.go(-1)">Go Back</a>
            </li>
            <a class="btn btn-primary portfolio-link portfolio-item"  data-toggle="modal" href="#portfolioModal1">reviews</a>

          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="card-otm below">
          <h1>Media</h1>
          <%= image_tag("music.png", :alt => "music", width:"80%") %>
          <br>
          <br>
          <%= image_tag("video.png", :alt => "video", width:"80%") %>
        </div>
      </div>
    </div>
  </div>


  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->

                  <p>reviews:</p>
                                <div>
                <% @reviews = @musician.reviews_received%>
                <% @reviews.each do |review| %>
                <div class="container">
                  <p>content: <%= review.content %></p>
                  <p>rating: <%= review.rating %></p>
                </div>
                <% end %>
              </div>

                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Back to overview</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





