<div class="main bg-image" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.43), rgba(255, 255, 255, 0.96), rgb(255, 255, 255)), url('<%= cl_image_path("banner-otm_tuakfl", :height=>800, :width=>1440) %>');">
  <div class="text-center">
    <h1>Book <span class="higlighted"> <%= @musician.username %></span> now!</h1>
  </div>

<br>
  <div class="container mt-5">
    <br>
      <% if @bands.present? %>
        <% if @bands.count == 1 %>
          <div class="form-wrapper form-login" style="width: 400px; margin: 0 auto;">
            <%= simple_form_for [@musician, @booking], url: :musician_bookings do |f| %>
              <%= f.input :startdate, label:"When do you need #{@musician.username}", as: :string, required: true, input_html: {class: "booking-input"}  %>
              <%= f.input :band_id, as: :hidden, input_html: {value: @bands[0].id} %>
              <p>for your band <%= @bands[0].name %>? </p>
              <%= f.submit class: "btn btn-primary"%>

            <% end %>
          </div>
        <% else %>
          <div class="form-wrapper form-login" style="width: 400px; margin: 0 auto;">
            <%= simple_form_for [@musician, @booking], url: {action: "create"} do |f| %>
              <%= f.input :startdate, label:"When do you need #{@musician.username}?", as: :string, required: true, input_html: {class: "booking-input"}  %>
              <%= f.association :band, label:"For which band?", collection: @bands%>
              <%= f.submit class: "btn btn-primary"%>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <h3 style="width: 600px; margin: 0 auto; text-align: center;">If you want to book a musician for your band, you have to <%= link_to "add a band", new_band_path %> to your profile first.</h3>
      <% end %>
  </div>
</div>
