<div class="start-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
  <div class="text-center">
    <h1>Overview</h1>
  </div>
</div>

<div Class="container">
  <div class="tab">
    <div class="raw">
      <button id="bookings-btn" class="tablinks col-sm-3" >Bookings</button>
      <button id="favorites-btn" class="tablinks col-sm-3">Favorites</button>
      <button id="profile-btn" class="tablinks col-sm-3">Profile</button>
      <button id="bands-btn" class="tablinks col-sm-3">Bands</button>
    </div>





  </div>
  <div id="bookings" class="tabcontent">
    <% if  @bookings.count >= 1 %>
    <h1 class="mt-4">I booked other musicians ACTIVE</h1>
    <% end %>
    <% @bookings.each do |booking| %>    <!----------ACTIVE BOOKINGS----------->
      <div class= "card-otm mb-3 p-3">
        <div class= "row">
          <div class= "col-xs-6 col-md-4" style="list-style-type: none;">
            <% musician = User.find_by(id: booking.user_id) %>
            <% if musician.photos.attached? %>
              <%= link_to musician_path(musician), :action => 'go' do %>
                <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path musician.photos[0].key, height: 230, crop: :fill, :gravity=>"faces" %>')"></div>
              <% end %>
            <% else %>
              <%= link_to musician_path(musician), :action => 'go' do %>
                <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"faces", :crop=>"fill") %>')"></div>
              <% end %>
            <% end %>
          </div>
          <div class= "col-xs-12 col-md-8">
            <div class="card-otm">
              <ul style="list-style-type: none;">
                <% if booking.status == 1 %>
                <li class= "mb-3">booking request for: <strong><%=musician.username%></strong></li>
                <% end %>
                <% if booking.status == 2 %>
                <li class= "mb-3">booked Artist: <strong><%=musician.username%></strong></li>
                <% end %>
                <li>For band: <strong><%= booking.band.name %></strong></li>
                <li>Begin: <strong><%= booking.startdate %></strong></li>
                <li>End: <strong><%= booking.enddate %></strong></li>
                <% if booking.status == 1 %>
                <li>Comfirmation-status: pending</li>
                <li><%#= link_to 'cancel', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning"%></li>
                <% elsif booking.status == 2 %>
                <li>Comfirmation-status: booked</li>
                <% elsif booking.status == 3 %>
                <li>Comfirmation-status: declined</li>
                <li><%= link_to 'delete', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning"%></li>
                <% end %>
                <li><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }%></li>
                <% if Time.now > booking.enddate + 1 %>
                <a class="btn btn-primary portfolio-link portfolio-item"  data-toggle="modal" href="#portfolioModal1">write a review</a>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <div class="container">
                      <p> your review for <%= musician.username %></p>
                      <%= simple_form_for([booking.user, Review.new]) do |f| %>
                      <%= f.input :content %>
                      <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
                      <%= f.submit "submit", class: "btn btn-primary" %>
                      <% end %>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                      Back to overview</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!------------------------- MODAL ----------------------->
      </div>
    <%end%>


    <% if @bookings_passive.count >= 1 %>
    <h1 class="mt-4">i'am booked by other bands PASSIVE</h1>
    <% end %>
    <% @bookings_passive.each.with_index do |booking, index| %><!------------ PASSIVE BOOKINGS ----------------->
      <div class= "card-otm mb-3 p-3">
        <div class= "row">
          <div class= "col-xs-6 col-md-4" style="list-style-type: none;">.
            <% musician = User.find_by(id: booking.user_id) %>
            <% if booking.band.photos.attached? %>
              <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path booking.band.photos[0].key, height: 230, crop: :fill, :gravity=>"faces" %>')"></div>
            <% else %>
              <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"faces", :crop=>"fill") %>')"></div>
            <%end%>
          </div>
          <div class= "col-xs-12 col-md-8">
            <div class="card-otm">
              <ul id="myList" class="booking-details" style="list-style-type: none;">
                <%if booking.status == 1%>
                <li class= "mb-3">booking request from: <strong><%=booking.band.name%></strong></li>
                <% end %>
                <%if booking.status == 2%>
                <li class= "mb-3">you are booked for: <strong><%=booking.band.name%></strong></li>
                <% end %>
                <li>Begin: <strong><%= booking.startdate %></strong></li>
                <li>End: <strong><%= booking.enddate %></strong></li>
                <p>test index : <%= index %></p>
                <% if booking.status == 1 %>
                <li id='change-<%= index %>'class="change">confirmation status: Pending</li>
                <li id='confirm-<%= index %>' class="hideConfirm" data-card-index='<%= index %>' class="hide"><%= link_to 'confirm', booking_path(booking, status: :confirm), method: :patch, remote: true, class: "btn btn-warning"%></li>
                <li id='decline-<%= index %>' class="hideDecline" data-card-index='<%= index %>' class="hide"><%= link_to 'decline', booking_path(booking, status: :decline), method: :patch, remote: true, class: "btn btn-warning"%></li>

                <% elsif booking.status == 2 %>
                <li class="hide">Comfirmation-status: booked</li>
                <% elsif booking.status == 3 %>
                <li>Comfirmation-status: declined</li>
                <%end%>
                <li><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }%></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <div id="favorites" class="tabcontent">
    <h1>favorites</h1>
        <%= render partial: 'favorites/index', favorites: @favorites %><%# reviews are visible %>
  </div>
  <div id="profile" class="tabcontent">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-otm">
          <% if current_user.photos.attached? %>
            <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path current_user.photos[0].key, height: 400, crop: :fill, :gravity=>"faces" %>')"></div>
          <% else %>
            <div class="musician-featured-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", height: 400, crop: :fill, :gravity=>"faces") %>')"></div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="card-otm h-100">
          <ul style="list-style-type: none;">
            <li>username: <strong><%= @user.username %></strong></li>
            <li>e-mail: <strong><%= @user.email %></strong></li>
            <li>city: <strong><%= @user.city %></strong></li>
            <li>date of birth: <strong><%= @user.birthday %></strong></li>
            <li>description: <strong><%= @user.description %></strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="card-otm">
          <h1>dsfggd</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="bands" class="tabcontent">
    <% @bands.each do |band| %>
    <div class= "card-otm mt-3 p-3">
      <div class= "row">
        <div class= "col-xs-6 col-md-4" style="list-style-type: none;">
          <%if band.photos.attached? %>
          <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path band.photos[0].key, height: 230, crop: :fill, :gravity=>"faces" %>')"></div>
          <%else%>
          <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"faces", :crop=>"fill") %>')"></div>
          <%end%>
        </div>
        <div class= "col-xs-12 col-md-8">
          <div class="card-otm">
            <ul style="list-style-type: none;">
              <li>For: <strong><%= band.name %></strong></li>
              <li>to: <strong><%= band.description %></strong></li>
              <li>to: <strong><%= band.genre %></strong></li>
              <td><%= link_to 'Delete', band, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning"%></td>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>

