  <div class="start-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
    <div class="text-center">
        <h1> <span class="higlighted">My Overview</span> </h1>
    </div>
  </div>
  <br>

<div class= "container">
  <div class="tabbed">
    <input checked="checked" id="tab1" type="radio" name="tabs" />
    <input id="tab2" type="radio" name="tabs" />
    <input id="tab3" type="radio" name="tabs" />

    <nav>
      <label class= "mb-0" for="tab1">Profile</label>
      <label class= "mb-0" for="tab2">Bookings</label>
      <label class= "mb-0" for="tab3">Bands</label>
    </nav>
    <figure>


      <div class="tab1 container">

        <div class="row">

          <div class="col-xs-12 col-md-4">
            <div class="card-otm">
              <% if current_user.photo.attached? %>
                <div class="dashboard-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, height: 230, crop: :fill %>')">
                </div>
              <% else %>
                <div class="dashboard-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"west", :crop=>"fill") %>')">
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-8 dashboard">
            <div class="card-otm h-100">
              <ul style="list-style-type: none;">
                <li class="musician-name"><strong><%= @user.username %></strong></li>
                <li>e-mail: <strong><%= @user.email %></strong></li>
                <li>city: <strong><%= @user.city %></strong></li>
                <li>date of birth: <strong><%= @user.birthday %></strong></li>
                <li>description: <strong><%= @user.description %></strong></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="row mt-4">
          <div class="col-12">
            <div class="card-otm">
             <h1>Media</h1>
                <%= image_tag("/assets/music", :alt => "music", width:"80%") %>
                  <br>
                  <br>
                  <%= image_tag("/assets/video", :alt => "video", width:"80%") %>
            </div>
          </div>
        </div>
      </div>

      <div class="tab2">
        <% @bookings.each do |booking| %>

        <div class= "card-otm mt-3 p-3">
          <div class= "row">

            <div class= "col-xs-6 col-md-4" style="list-style-type: none;">
              <% musician = User.find_by(id: booking.user_id) %>

              <% if musician.photo.attached? %>

              <%= link_to musician_path(musician), :action => 'go' do %>
              <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path musician.photo.key, height: 230, crop: :fill %>')"></div>
              <% end %>

              <% else %>
              <%= link_to musician_path(musician), :action => 'go' do %>
              <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"west", :crop=>"fill") %>')"></div>
              <% end %>
              <% end %>



            </div>
            <div class= "col-xs-12 col-md-8">
              <div class="card-otm">
                <ul style="list-style-type: none;">
                  <li class= "mb-3">you have booked <strong><%=musician.username%></strong> on the <strong><%= booking.created_at %></strong></li>
                  <li>For band: <strong><%= booking.band.name %></strong></li>
                  <li>Begin: <strong><%= booking.startdate %></strong></li>
                  <li>End: <strong><%= booking.enddate %></strong></li>
                  <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary-outline"%></td>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <% end %>
      </div>

      <div class="tab3">
        <% @bands.each do |band| %>

        <div class= "card-otm mt-3 p-3">
          <div class= "row">

            <div class= "col-xs-6 col-md-4" style="list-style-type: none;">
              <%if band.photo.attached? %>
                <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path band.photo.key, height: 230, crop: :fill %>')"></div>
              <%else%>
                <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"west", :crop=>"fill") %>')"></div>
              <%end%>
            </div>

            <div class= "col-xs-12 col-md-8">
              <div class="card-otm">
                <ul style="list-style-type: none;">
                  <li>For: <strong><%= band.name %></strong></li>
                  <li>to: <strong><%= band.description %></strong></li>
                  <li>to: <strong><%= band.genre.name %></strong></li>
                  <td><%= link_to 'Delete', band, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary-outline"%></td>
                </ul>
              </div>
            </div>


          </div>
        </div>

        <%end%>
      </div>

    </figure>
  </div>
</div>



