<br>
<br>
<br>



<div class= "container">
  <div class="tabbed">
     <input checked="checked" id="tab1" type="radio" name="tabs" />
     <input id="tab2" type="radio" name="tabs" />
     <input id="tab3" type="radio" name="tabs" />

     <nav>
        <label for="tab1">Profile</label>
        <label for="tab2">Bookings</label>
        <label for="tab3">Bands</label>
     </nav>

     <figure>
        <div class="tab1">
          <td><%= @user.username %></td>
        </div>
        <div class="tab2">
          <% @bookings.each do |booking| %>
            <div class= "card mt-3 p-3">
              <ul style="list-style-type: none;">
                <li class= "mb-3">Booking from: <strong><%= booking.created_at %></strong></li>
                <li>For: <strong><%= booking.band.name %></strong></li>
                <li>Begin: <strong><%= booking.startdate %></strong></li>
                <li>End: <strong><%= booking.enddate %></strong></li>
                <% musician = User.find_by(id: booking.user_id) %>
                <li><%= musician.username %></li>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="tab3">
          <% @bands.each do |band| %>
            <div class="card mt-3 p-3">
              <h3><%= band.name %></h3>
            </div>
          <% end %>
       </div>
     </figure>
  </div>
</div>


